* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  background-color: #51d1f6;
  font-size: 1rem;
  font-family: 'Unbounded', cursive; }
  body header nav {
    display: flex;
    background: white;
    height: 5rem;
    width: 100%;
    align-items: center;
    justify-content: center; }
    body header nav ul {
      margin-top: 1rem; }
      body header nav ul li {
        display: inline-block;
        line-height: 5rem; }
        body header nav ul li a {
          color: black;
          font-size: 1.1rem;
          padding: 0.8rem;
          border-radius: 0.2rem;
          text-transform: uppercase;
          text-decoration: none; }
        body header nav ul li a.active, body header nav ul li a:hover {
          background: #ffc600;
          transition: .5s; }
    body header nav .checkbtn {
      margin-right: 2.5rem;
      cursor: pointer;
      display: none; }
    body header nav #check {
      display: none; }
  body main {
    margin-left: 2rem; }
    body main section h2 {
      margin-bottom: 20px;
      margin-top: 20px;
      text-align: center;
      color: #ffc600;
      background: black;
      margin-right: 30px; }
    body main section article {
      display: flex;
      justify-content: center;
      margin: 16px 0 30px; }
    body main section div p {
      margin-bottom: 20px;
      margin-top: 20px; }
    body main section div ul li {
      text-align: center; }
    body main section h2 {
      margin-bottom: 20px;
      margin-top: 20px;
      text-align: center;
      color: #ffc600;
      background: black;
      margin-right: 30px; }
    body main section div p {
      text-align: center; }
    body main section div div {
      display: flex;
      justify-content: center;
      margin: 16px 0 30px; }
      body main section div div img {
        width: 70%;
        margin-right: 50px; }
    body main iframe {
      margin: 25px 30px; }
  body fieldset {
    border: 5px solid black;
    padding: 20px 0px 20px 10%;
    margin-bottom: 40px; }
  body footer {
    margin: 2rem 0; }
    body footer div {
      display: flex;
      justify-content: space-around; }
    body footer a img {
      height: auto;
      width: 50px; }

body main section aside p {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  color: #ffc600;
  background: black;
  margin-right: 30px; }

body main section aside img {
  margin: 50px 80px 50px;
  height: auto;
  width: 80%;
  text-align: center; }

body main section div {
  text-align: center; }
